.form-group {
    margin-top:0px ;
    margin-bottom:5px !important;
}

.form-control {
    margin-top:0px !important;
    margin-bottom:10px !important;
}

body {
    background-color: #D3D3D3 !important;
}

td {
    vertical-align: middle !important;
}
.content {
    max-width:900px;
    margin:0px auto;
    background-color:#FFF;
}

.inner-content {
    background-color:#FFF;
    padding:30px;
}

.table-button {
    width:3%;
}

.klient-detail{
    margin-top:30px !important;
}

.pad-bottom {
    padding-bottom:20px;
}

.no-pad {
    padding-top: 20px;
    padding-bottom: 15px;
}


.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.form-inline {
    padding-bottom: 10px;
    padding-top: 5px;
}